body {
  display: flex;
  flex-direction: column;
  font-family: "Viaoda Libre", cursive, "Gill Sans", "Gill Sans MT", Calibri;
  background-color: #f9e5d8;
  color: #001a23;
}

p {
  font-size: 16px;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

li {
  margin: 15px 5px;
}

.logo {
  height: 30px;
  margin: 15px 30px;
}

section {
  width: 100%;
  background-color: #fec89a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
}

.about-me {
  width: 300px;
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
}

.info {
  margin: 30px;
  max-width: 300px;
}

#main {
  box-shadow: 2px 2px 5px #001a23;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-info {
  margin: 30px;
  max-width: 300px;
}

@media only screen and (max-width: 700px) {
  .hero-info {
    max-width: 700px;
  }
}

.hero-image {
  height: 300px;
  width: 300px;
  margin: 30px;
  border-radius: 20px;
}

.styled-break {
  width: 30px;
  height: 5px;
  background-color: #4f000b;
  border-radius: 2.5px;
  margin: 30px 0 30px 0;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#name {
  font-size: 30px;
  color: #4f000b;
}

.button {
  border: 0;
  padding: 0 20px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  line-height: 2;
  color: #f9e5d8;
  text-shadow: 1px 1px 1px #131211;
  background-color: rgba(97, 139, 74, 1);
  background-image: linear-gradient(
    to top left,
    rgba(97, 139, 74, 0.2),
    rgba(218, 168, 155, 0.2) 30%,
    rgb(254, 200, 154)
  );
  box-shadow: inset 2px 2px 3px rgba(79, 0, 11, 0.6),
    inset -2px -2px 3px rgba(0, 26, 35, 0.6);
  border-radius: 20px;
}

.button:hover {
  background-color: rgba(79, 0, 11, 1);
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(20, 26, 35, 0.6);
}

form {
  margin: 0 0 20px 0;
}

.input-section {
  margin: 10px 0;
  display: flex;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 0;
}

footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  footer {
    background-color: #daa89b;
  }
}

.fab {
  margin: 10px;
}

.fas {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #4f000b;
}

a:hover {
  color: #618b4a;
}

a:active {
  color: #fcd5ce;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
}

.test {
  width: 30px;
  height: 30px;
  background-color: #daa89b;
  margin: 5px;
}
