body {
  display: flex;
  background-color: #f9e5d8;
  flex-direction: column;
  font-family: "Viaoda Libre", cursive, "Gill Sans", "Gill Sans MT", Calibri;
}

.logo {
  height: 30px;
  margin: 15px 30px;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
}

li {
  margin: 15px 5px;
}

.hero {
  width: 100%;
  background-color: #ffb5a7;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-info {
  height: 300px;
  width: 300px;
  background-color: #daa89b;
  margin: 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#name {
  font-size: 45px;
  color: #4f000b;
}

section {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(#f9e5d8, #daa89b);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#main {
  box-shadow: 2px 2px 5px #001a23;
}

.button {
  border: 0;
  padding: 0 20px;
  font-size: 20px;
  width: 150px;
  text-align: center;
  line-height: 2;
  color: #f9e5d8;
  text-shadow: 1px 1px 1px #131211;
  background-color: rgba(97, 139, 74, 1);
  background-image: linear-gradient(
    to top left,
    rgba(97, 139, 74, 0.2),
    rgba(218, 168, 155, 0.2) 30%,
    rgb(254, 200, 154)
  );
  box-shadow: inset 2px 2px 3px rgba(79, 0, 11, 0.6),
    inset -2px -2px 3px rgba(0, 26, 35, 0.6);
  border-radius: 10px;
}

.button:hover {
  background-color: rgba(79, 0, 11, 1);
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(20, 26, 35, 0.6);
}

.test {
  width: 30px;
  height: 30px;
  background-color: #fec89a;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #4f000b;
}

a:hover {
  color: #ffb5a7;
}

a:active {
  color: #fcd5ce;
}
